*{
   list-style: none;
   font-family: 'Lucida Sans Regular';
}


/* EMPIEZA EL NAV */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}



nav ul li{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    height: 100%;

}



.lineaMain{
    width: 100%;
    border: 0;
    height: 3px;
    background: rgba(240, 14, 14, 0.587);
    box-shadow: 0 0 20px red;
}

.vacio{
    width: 10%;
}

nav ul li a{
    background-color: rgb(0, 0, 0); 
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover{
background-color: rgb(56, 55, 53);

}

.navMain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 99% 1fr;
    background-color: rgba(255, 0, 0, 0.1);
}


.lineas{
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.navFoto{
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 80%;
    height: 100%;
}

.lineaLeft{
    width: 45%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
}

.lineaRight{
    width: 45%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(255, 255, 255));
}


/* ACABA EL NAV */


/* EMPIEZA EL ROADMAP */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black;
}
.roadMap{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    color: black;
}
.contenedor{
    padding: 10px 50px;
    position: relative;
    width: 50%;

}
.cont-text{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-Contenedor{
    left: 0;
}
.right-Contenedor{
    left: 50%;
}
.contenedor img{
    position: absolute;
    width: 30px;
    right: -20px;
    border-radius: 50%;
    background: #fff;
    top: 32px;
    z-index: 10;
}
.right-Contenedor img{
    left: -13px;
}
.roadMap::after{
    content: '';
    position: absolute;
    width:6px ;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

/* ACABA EL ROADMAP */

/* EMPIEZA EL FOOTER */

footer{
   background-color: rgb(0, 0, 0);
   text-align: center;
   border-radius: 15px;
   color: white;
}

ul{
   margin: 0;
   padding: 0;
}

.all{
   display: grid;
   grid-template-rows: 15% 20% 5% 15%;
   grid-template-areas: 
   'ayuda'
   'equipo'
   'redes'
   'enlaces'
   ;
   list-style: none;
   gap: 50px;
}

.ayuda{
grid-area: ayuda;
}

.equipo{
grid-area: equipo;
}

.redes{
grid-area: redes;
display: grid;
grid-template-columns: auto auto auto;
grid-template-areas: 
'...insta you face...'
;
}

.face{
grid-area: face;
}

.insta{
grid-area: insta;
}

.you{
grid-area: you;
}

.enlaces{
   grid-area: enlaces;
}

/* ACABA EL FOOTER */