body {
    background-color: #ffffff;
}
/* INICIO DEL HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

header .toggle {
    order: 1;
}

header .perfil {
    margin-right: 3%;
    padding: 4px;
    border-radius: 50%;
    border: 4px solid #e11d48;
    order: 2;
}
header .perfil img{
    width: 25px;
    height: 22px;
}
/*  FINAL DEL HEADER */

/*  EMPIEZA EL MENÚ LATERAL PERMANENTE */
aside {
    float: left;
}

aside .menuLateral {
    display: none;
    
}
/* FINAL DEL MENÚ PERMANENTE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.slide {
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 0%;
    position: absolute;
    background-color: #2e2e2e;
    transition: 0.5s ease;
    transform: translateX(-580px);
    z-index: 1;
}

.slide ul li {
    list-style: none;
    line-height: 80px;
    margin-left: auto;
}

.slide ul li a {

    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 5px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    border-radius: 10px;
    scale: 1;
}

.slide ul .opL:hover a {
    color: #fe3c72;
    transition: 0.2s ease-out;
    scale: 1.2;
}

.slide ul li a i {
    width: 40px;
    text-align: center;

}

.input-barraLateral {
    display: none;
    visibility: hidden;

}

.toggle {
    position: sticky;
    height: 40px;
    width: 40px;
    top: 20px;
    left: 25px;
    margin-left: 10px;
    z-index: 10;
    cursor: pointer;
    border-radius: 3px;
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fe3c72;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lateral input:checked~.toggle .top_line {
    left: 8px;
    top: 18px;
    width: 25px;
    transform: rotate(45deg);
}


.lateral input:checked~.toggle .bottom_line {
    left: 8px;
    top: 18px;
    width: 25px;
    transform: rotate(-45deg);
}


.lateral input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

.lateral input:checked~.slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


/* ACABA LA BARRA LATERAL */

/* AQUI EMPIEZA MEDIA PARA LA BARRA LATERAL */

@media (max-width: 650px) {

    .slide {
        margin-left: 10px;
        width: 20%;
        /* Ancho completo */
        display: flex;
        flex-direction: column;
        /* Configura flexbox para la columna */
        justify-content: center;
        /* Centra verticalmente */
        align-items: center;
        /* Centra horizontalmente */
        font-size: 30px;
    }

    .slide ul li {
        width: fit-content;
        /* Ancho completo de cada elemento de la lista */
        text-align: center;
        /* Centra horizontalmente el texto */
    }

    nav {
        display: none;
    }

}

@media (min-width: 650px) {
    .toggle {
        display: none;
    }

    .lateral {
        display: none;
    }

}
/* Acaba la barra lateral desplegable */
/* EMPIEZA LAS TARJETAS DE USUARIO */
section {
    padding: 5px;
    /* ancho del section elemento será el 100% de la pantalla menos el ancho del menu lateral*/
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 330px)); */
    gap: 20px;
    /* envolver elementos en varias líneas */
}


section .notificacionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: fit-content;
    border-radius:5px;
    box-shadow: 0 0  10px rgb(140, 143, 146);
    padding: 20px;
    margin: auto;
    font-family: "Reef";
}
section .notificacionContainer .titulo{
    text-align: center;
}
section .notificacionContainer .abajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section .notificacionContainer .abajo .fecha{
    order: 1;
}
section .notificacionContainer .abajo .checkbox{
    order: 2;
}
@font-face {
    font-family: "Reef";
    src: url("../tipografias/Reef.ttf");
}


@media (min-width: 650px) {
    header {
        display: flex;
        justify-content: flex-end;
    }
    aside {
        position: sticky;
        top:20px;
    }
    aside .menuLateral {
        display: block;
        border-radius: 15px;
        height: 500px;
        display: flex;
        background-color: #2e2e2e;
        /* box-shadow: 0 0  10px rgb(210,217,225);  */
        justify-content: center;
        align-items: center;
        width: 100px;
        margin: 10px;
    }


    aside .menuLateral ul {
        line-height: 50px;
        font-size: 25px;
    }

    aside .menuLateral ul li {
        list-style: none;
        width: 100%;

    }

    aside .menuLateral ul li a {
        font-weight: 500;
        padding: 5px 5px;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
        color: #ffffff;
        border-radius: 10px;
    }

    aside .menuLateral ul li img {
        width: 90px;
        border-radius: 20px;
        scale: 1;
        transition: 0.4s;
    }

    aside .menuLateral ul li img:hover {
        scale: 1.20;
        transition: 0.4s;
    }

    aside .menuLateral ul li a:hover {
        scale: 1.10;
        transition: 0.8s;
    }

    aside .menuLateral ul .opL:hover i {
        color: #fe3c72;
    }

    aside .menuLateral ul li a i {
        width: 75px;
        text-align: center;

    }
    section{
        width: calc(100vw - 150px); 
    }
    section .notificacionContainer {
        width: 50vw;
    }
    section .notificacionContainer .contenido{
        font-size: large;
        margin: auto;
        width: 80%;
    }
}