.contenedor-deportes {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color:#ffff ;
    box-sizing: border-box;
    border: 2px solid #424242 ;
    box-shadow: 5px 5px 0px  #615757;
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.contenedor-deportes .grupo2 {
    flex: 1 1 auto;
    text-align: center;
}

.contenedor-deportes .grupo2 input {
    display: none;
}
#labelDeporte{
    margin-bottom: 0px;
}
#labelDeporte{
    margin-bottom: 0px;
}
.contenedor-deportes .grupo2 .nombre2 {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #424242;
    transition: all .15s ease-in-out;
}

.contenedor-deportes .grupo2 input:checked + .nombre2 {
    background-color: 	#ef4a75;
    font-weight: 600;
}