body {
    background-color: #ffffff;
}
/* INICIO DEL HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

header .toggle {
    order: 1;
}

header .perfil {
    margin-right: 3%;
    padding: 4px;
    border-radius: 50%;
    border: 4px solid #e11d48;
    order: 2;
}
header .perfil img{
    width: 25px;
    height: 22px;
}
/*  FINAL DEL HEADER */

/*  EMPIEZA EL MENÚ LATERAL PERMANENTE */
aside {
    float: left;
}

aside .menuLateral {
    display: none;
    
}
/* FINAL DEL MENÚ PERMANENTE */

/* EMPIEZA LAS TARJETAS DE USUARIO */
section {
    padding: 5px;
    /* ancho del section elemento será el 100% de la pantalla menos el ancho del menu lateral*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 330px));
    gap: 20px;
    /* envolver elementos en varias líneas */
}


section .persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 456px;
    border-radius: 3%;
    box-shadow: 0 0  10px rgb(140, 143, 146);
    padding: 10px;
    margin: auto;
    overflow: hidden;
    transition: 0.8s;
    margin-bottom: 20px;
}
.persona:hover{
    scale: 1.02;
    transition: 0.8s;
}

section .persona .imagen{
    width: 90%;
}

section .persona .datos {
    width: 90%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
section .persona .datos ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
    font-family: "Reef";
}
@font-face {
    font-family: "Reef";
    src: url("../tipografias/Reef.ttf");
}
section .persona .datos ul .valor {
    display: inline-block;
    color: #424242;
    
}
section .persona .imagen img{
    width: 100%;
    border-radius: 10px;
}
section .persona  .botones{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%;
    border-radius: 5px;
    gap: 10px;
}

.perfil{
    text-align: center;
    
}

.btnPerfil{
    width: 100px;
    height: 25px;
    background-color: #fd5564; 
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 15px;
}

@media (min-width: 650px) {
    header {
        display: flex;
        justify-content: flex-end;
    }
    aside {
        position: sticky;
        top:20px;
    }
    aside .menuLateral{
        display: block;
        border-radius: 15px;
        height: 550px;
        display: flex;
        background-color:#2e2e2e;
        /* box-shadow: 0 0  10px rgb(210,217,225);  */
        justify-content: center;
        align-items: center;
        width: 100px;
    }
    

    aside .menuLateral ul {
        line-height: 50px;
        font-size: 25px;
        margin-left: -40px;
    }

    aside .menuLateral ul li {
        list-style: none;
        width: 100%;
        margin-bottom: 5px;
    }

    aside .menuLateral ul li a {
        font-weight: 500;
        padding: 5px 5px;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
        color: #ffffff;
        border-radius: 10px;
    }
    aside .menuLateral ul li img{
        width: 90px;
        border-radius: 20px;
        scale: 1;
        
    }
    aside .menuLateral ul li img:hover{
        scale: 1.40;
        transition: 0.4s;
    }

    aside .menuLateral ul li a:hover {
        scale: 1.10;
        transition: 0.8s;
    }
    
    aside .menuLateral ul .opL:hover i{
        color: red; 
    }
    aside .menuLateral ul li a i {
        width: 75px;
        text-align: center;

    }
    section{
        width: calc(100vw - 150px); 
    }
}